/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #18181B; /* Fundo suave */
    height: 100vh; /* Define a altura da viewport */
    margin: 0; /* Certifique-se de que não há margem no body */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: 18181B;
    display: flex; /* Flexbox para layout em duas colunas */
    width: 100vw; /* Ajuste conforme necessário */
    height: 100vh; /* Ajuste conforme necessário */
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse as bordas */
}

.left-login {
    width: 50vw;
    height: 100vh;
    background-color: #18181B; /* Cor de fundo para a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login img {
     /* Faz a imagem se ajustar ao tamanho da div */
    height: 500px;
    margin-left: 140px;
}

.left-login h1{
    color: #3498db;
    margin-bottom: 100px;
    margin-left: 140px;
    font-size: 50px;
}

.right-login {
    background-color: #18181B;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px; /* Espaçamento interno */
    margin-left: auto; /* Move o container para a direita */
}

form {
    box-sizing: border-box; /* Inclui padding e borda nas dimensões */
    background-color: #f0f0f0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 
    0 0 15px rgba(13, 129, 253, 0.6),   /* Brilho intenso ao redor do form */
    0 0 25px rgba(13, 129, 253, 0.8),   /* Sombra de brilho com maior alcance */
    0 0 35px rgba(13, 129, 253, 0.9);   /* Camada final de brilho mais intenso */
       

    transition: transform 0.3s;
    margin-left: 200px;
}

form:hover {
    transform: translateY(-5px); /* Eleva levemente o formulário ao passar o mouse */
}

h2{
	font-size: 35px;
	display:flex;
	justify-content:center;
	
}


/* Estilo das labels */
label {
    font-size: 16px;
    color: #555; /* Cor mais suave para as labels */
    display: block;
    margin-bottom: 8px;
    margin-left: 15px;
}

/* Estilo dos inputs */
input {
    width: 95%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid #ddd; /* Borda mais grossa */
    border-radius: 12px; /* Borda arredondada */
    transition: border-color 0.3s ease; /* Transição suave para foco */
    margin-left: 10px; /* Margem esquerda */
    margin-right: 40px; /* Margem direita */
}

input:focus {
    border-color: #3498db; /* Cor azul no foco */
    outline: none; /* Remove o contorno padrão */
}

form img {
    position: absolute;
    right: 35px; /* Ajuste conforme necessário */
    top: 35%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta para centralização */
}

/* Estilo dos botões */
button,
.btn-register {
    /* Ajusta a largura para incluir margens */
    padding: 14px;
    letter-spacing: 1px;
    font-size: 17px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px; /* Borda arredondada */
    cursor: pointer;
    transition: background-color 0.7s ease; /* Transição suave de cor */
    margin-left: 10px; /* Margem esquerda */
    margin-right: 10px; /* Margem direita */
    
}

/* Estilo do botão Login */
button.btn-login {
    background-color: #007bff; /* Verde vibrante */
    color: white; /* Texto branco */
    font-weight: bold; /* Texto em negrito */
    letter-spacing: 1px;
    font-size: 17px;
    box-shadow: 0px 3px 10px -1px #0d81fd;
}

button.btn-login:hover {
    background-color: #0a407a; /* Verde mais escuro no hover */
}

/* Estilo do link "Esqueceu sua senha?" */
a.btn-senha {
    display: inline-block; /* Mostra o link como um bloco */
    text-align: center; /* Centraliza o texto */
    color: #007bff; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    margin-top: 10px; /* Espaço acima do link */
    font-weight: bold; /* Texto em negrito */
    margin-left: 10px; /* Margem esquerda */
    margin-right: 10px; /* Margem direita */
}



a.btn-register:hover {
    background-color: #1d1d1f; /* Azul mais escuro no hover */
}

/* Estilo do texto do título */
h1.titulo-center {
    font-size: 37px; /* Aumenta o tamanho da fonte do título */
    text-align: center; /* Centraliza o texto do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: #333; /* Cor do título */
}

/* Estilo do select (menu drop-down) */
select {
    width: 95%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid #ddd; /* Borda mais grossa */
    border-radius: 12px; /* Borda arredondada */
    transition: border-color 0.3s ease; /* Transição suave para foco */
    margin-left: 10px; /* Margem esquerda */
    margin-right: 40px; /* Margem direita */
}

select:focus {
    border-color: #3498db; /* Cor azul no foco */
    outline: none; /* Remove o contorno padrão */
}